<a href="https://colab.research.google.com/github/p33ves/CMPT726-ML-Project/blob/main/Datasets_Preprocessing_(Detecting_Potential_Passive_Customers_on_the_Starbucks_Reward).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Datasets Preprocessing (Detecting Potential Passive Customers on the Starbucks Reward)

## Importing Datasets

References : 
- https://towardsdatascience.com/starbucks-offer-personalization-sending-the-right-offer-to-the-right-customer-14d4fbc20575
- https://github.com/lalago31/Data-Science-Portfolio/tree/master/Capstone%20-%20Starbucks%20Offer%20Personalization

In [ ]:
import pandas as pd
import numpy as np
import math
import json
import os, datetime

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder

# from datetime import datetime
from dateutil.relativedelta import relativedelta

Installing and importing plotly on Colab

In [ ]:
!pip install plotly==4.12.0
import plotly.express as px

Collecting plotly==4.12.0
  Downloading https://files.pythonhosted.org/packages/a6/66/af86e9d9bf1a3e4f2dabebeabd02a32e8ddf671a5d072b3af2b011efea99/plotly-4.12.0-py2.py3-none-any.whl (13.1MB)
     |████████████████████████████████| 13.1MB 326kB/s
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly==4.12.0) (1.3.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from plotly==4.12.0) (1.15.0)
Installing collected packages: plotly
  Found existing installation: plotly 4.4.1
    Uninstalling plotly-4.4.1:
      Successfully uninstalled plotly-4.4.1
Successfully installed plotly-4.12.0

Loading json datasets from Github repo

In [ ]:
portfolio_url = 'https://raw.githubusercontent.com/p33ves/CMPT726-ML-Project/KH/org_datasets/portfolio.json'
portfolio = pd.read_json(portfolio_url, orient='records', lines=True)

profile_url = 'https://raw.githubusercontent.com/p33ves/CMPT726-ML-Project/KH/org_datasets/profile.json'
profile = pd.read_json(profile_url, orient='records', lines=True)

transcript_url = 'https://raw.githubusercontent.com/p33ves/CMPT726-ML-Project/KH/org_datasets/transcript.json'
transcript = pd.read_json(transcript_url, orient='records', lines=True)

## Data Cleaning Operations

### A. Portfolio Dataset

In [ ]:
print(portfolio['offer_type'].value_counts())
# Rename portfolio's column 'id' as 'offer_id'
portfolio.rename(columns={'id':'offer_id'}, inplace=True)
portfolio.head(10)

bogo             4
discount         4
informational    2
Name: offer_type, dtype: int64

   reward  ...                          offer_id
0      10  ...  ae264e3637204a6fb9bb56bc8210ddfd
1      10  ...  4d5c57ea9a6940dd891ad53e9dbe8da0
2       0  ...  3f207df678b143eea3cee63160fa8bed
3       5  ...  9b98b8c7a33c4b65b9aebfe6a799e6d9
4       5  ...  0b1e1539f2cc45b7b9fa7c272da2e1d7
5       3  ...  2298d6c36e964ae4a3e7e9706d1fb8c2
6       2  ...  fafdcd668e3743c1bb461111dcafc2a4
7       0  ...  5a8bc65990b245e5a138643cd4eb9837
8       5  ...  f19421c1d4aa40978ebb69ca19b0e20d
9       2  ...  2906b810c7d4411798c6938adc9daaa5

[10 rows x 6 columns]

Unpacking channels

In [ ]:
medium = portfolio['channels'].str.join(',').str.get_dummies(',')
portfolio = pd.concat([portfolio, medium], axis='columns') # concat medium columns
portfolio = portfolio.drop(['channels'], axis='columns')
portfolio['duration_in_hours'] = portfolio['duration']*24
portfolio

   reward  difficulty  duration  ... social web  duration_in_hours
0      10          10         7  ...      1   0                168
1      10          10         5  ...      1   1                120
2       0           0         4  ...      0   1                 96
3       5           5         7  ...      0   1                168
4       5          20        10  ...      0   1                240
5       3           7         7  ...      1   1                168
6       2          10        10  ...      1   1                240
7       0           0         3  ...      1   0                 72
8       5           5         5  ...      1   1                120
9       2          10         7  ...      0   1                168

[10 rows x 10 columns]

In [ ]:
portfolio.drop(['duration'], axis=1, inplace=True)
portfolio.rename(columns={'duration_in_hours':'duration'},inplace=True)
portfolio

   reward  difficulty     offer_type  ... social  web  duration
0      10          10           bogo  ...      1    0       168
1      10          10           bogo  ...      1    1       120
2       0           0  informational  ...      0    1        96
3       5           5           bogo  ...      0    1       168
4       5          20       discount  ...      0    1       240
5       3           7       discount  ...      1    1       168
6       2          10       discount  ...      1    1       240
7       0           0  informational  ...      1    0        72
8       5           5           bogo  ...      1    1       120
9       2          10       discount  ...      0    1       168

[10 rows x 9 columns]

Stats of each channel(offer type)

In [ ]:
portfolio_sum = portfolio.groupby('offer_type')['email','mobile','social','web'].agg('sum')
portfolio_sum.reset_index(inplace=True)
portfolio_sum

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning:

Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

      offer_type  email  mobile  social  web
0           bogo      4       4       3    3
1       discount      4       3       2    4
2  informational      2       2       1    1

Visualizing the offer type

In [ ]:
offer_type_bar = px.bar(portfolio_sum, x='offer_type', y=['email', 'mobile', 'social', 'web'], barmode='group')
offer_type_bar.show()

### B. Profile Dataset

In [ ]:
profile.head()

  gender  age                                id  became_member_on    income
0   None  118  68be06ca386d4c31939f3a4f0e3dd783          20170212       NaN
1      F   55  0610b486422d4921ae7d2bf64640c50b          20170715  112000.0
2   None  118  38fe809add3b4fcf9315a9694bb96ff5          20180712       NaN
3      F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509  100000.0
4   None  118  a03223e636434f42ac4c3df47e8bac43          20170804       NaN

In [ ]:
profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            14825 non-null  object
 1   age               17000 non-null  int64
 2   id                17000 non-null  object
 3   became_member_on  17000 non-null  int64
 4   income            14825 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 664.2+ KB

In [ ]:
# Finding null data on the profile dataframe
profile.isnull().sum()

gender              2175
age                    0
id                     0
became_member_on       0
income              2175
dtype: int64

In [ ]:
# Before cleaning
age_hist = px.histogram(profile, x='age', nbins=20, title='Age Distribution')
age_hist.show()

In [ ]:
profile = profile.dropna(axis='index')
profile.rename(columns={'id': 'cust_id'}, inplace=True)
profile['became_member_on'] = pd.to_datetime(profile['became_member_on'].astype(str), format='%Y%m%d')
profile['days_as_member'] = (datetime.datetime.today() - profile['became_member_on']).dt.days
profile.sample(10)

      gender  age  ...    income days_as_member
8779       M   68  ...  104000.0           1575
8778       M   75  ...   92000.0           1205
14745      F   42  ...   62000.0           1320
9367       M   47  ...   46000.0            953
2473       M   94  ...   54000.0           1059
13402      M   44  ...   77000.0           1410
514        M   73  ...   76000.0            957
8726       F   46  ...   50000.0           1109
5486       F   65  ...   66000.0           1654
8528       F   49  ...   63000.0           1123

[10 rows x 6 columns]

In [ ]:
profile.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14825 entries, 1 to 16999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            14825 non-null  object
 1   age               14825 non-null  int64
 2   cust_id           14825 non-null  object
 3   became_member_on  14825 non-null  datetime64[ns]
 4   income            14825 non-null  float64
 5   days_as_member    14825 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 810.7+ KB

In [ ]:
# After removing the rows with null values of income
age_hist = px.histogram(profile, x='age', nbins=30, title='Age Distribution')
age_hist.show()

### C. Transcript Dataset

In [ ]:
transcript.head(10)

                             person  ... time
0  78afa995795e4d85b5d9ceeca43f5fef  ...    0
1  a03223e636434f42ac4c3df47e8bac43  ...    0
2  e2127556f4f64592b11af22de27a7932  ...    0
3  8ec6ce2a7e7949b1bf142def7d0e0586  ...    0
4  68617ca6246f4fbc85e91a2a49552598  ...    0
5  389bc3fa690240e798340f5a15918d5c  ...    0
6  c4863c7985cf408faee930f111475da3  ...    0
7  2eeac8d8feae4a8cad5a6af0499a211d  ...    0
8  aa4862eba776480b8bb9c68455b8c2e1  ...    0
9  31dda685af34476cad5bc968bdb01c53  ...    0

[10 rows x 4 columns]

In [ ]:
transcript.rename(columns={'person': 'cust_id'}, inplace=True)
transcript.rename(columns={'time':'hours_till_action'},inplace=True)
transcript.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306534 entries, 0 to 306533
Data columns (total 4 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   cust_id            306534 non-null  object
 1   event              306534 non-null  object
 2   value              306534 non-null  object
 3   hours_till_action  306534 non-null  int64
dtypes: int64(1), object(3)
memory usage: 9.4+ MB

In [ ]:
# How many unique customers ID in profile?
transcript['cust_id'].unique().shape

(17000,)

In [ ]:
transcript['event'].value_counts()

transaction        138953
offer received      76277
offer viewed        57725
offer completed     33579
Name: event, dtype: int64

In [ ]:
# Extracting keys in value column
value_keys = []
for i in range(transcript.shape[0]):
    if transcript['value'][i].keys() not in value_keys:
        value_keys.append(transcript.value[i].keys())
print(value_keys)

[dict_keys(['offer id']), dict_keys(['amount']), dict_keys(['offer_id', 'reward'])]

If value column has 
- only 'offer id' -> offer viewed / offer received
- only 'amount' -> transaction
- 'offer_id' & 'reward' -> offer completed

In [ ]:
# parse the json format of value column to individual columns
parsed_value = transcript['value'].apply(pd.Series)
transcript = pd.concat([transcript, parsed_value], axis=1)

In [ ]:
transcript.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306534 entries, 0 to 306533
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   cust_id            306534 non-null  object
 1   event              306534 non-null  object
 2   value              306534 non-null  object
 3   hours_till_action  306534 non-null  int64
 4   offer id           134002 non-null  object
 5   amount             138953 non-null  float64
 6   offer_id           33579 non-null   object
 7   reward             33579 non-null   float64
dtypes: float64(2), int64(1), object(5)
memory usage: 18.7+ MB

In [ ]:
# offer id : when customer viewed an offer
# offer_id : when customer completed an offer

# Create new column to combine the two "offer id" & ""offer_id" columns
# if "offer id" is null and "offer_id" is not null then "offer_id" else offer 
transcript['offer_id_new'] = np.where(transcript['offer id'].isnull() & transcript['offer_id'].notnull(), 
                                      transcript['offer_id'],
                                      transcript['offer id'])
# Drop "offer id" & ""offer_id" columns
transcript.drop(['offer id', 'offer_id'], axis=1, inplace=True)

# Rename "offer_id_new" column to "offer_id"
transcript.rename(columns={'offer_id_new':'offer_id'}, inplace=True)

# Drop "value" columns
transcript.drop(['value'],axis=1,inplace=True)

In [ ]:
transcript.head()

                            cust_id  ...                          offer_id
0  78afa995795e4d85b5d9ceeca43f5fef  ...  9b98b8c7a33c4b65b9aebfe6a799e6d9
1  a03223e636434f42ac4c3df47e8bac43  ...  0b1e1539f2cc45b7b9fa7c272da2e1d7
2  e2127556f4f64592b11af22de27a7932  ...  2906b810c7d4411798c6938adc9daaa5
3  8ec6ce2a7e7949b1bf142def7d0e0586  ...  fafdcd668e3743c1bb461111dcafc2a4
4  68617ca6246f4fbc85e91a2a49552598  ...  4d5c57ea9a6940dd891ad53e9dbe8da0

[5 rows x 6 columns]

Stats of events

In [ ]:
print('Events where an offer is completed')
print(transcript.loc[(transcript['offer_id'].notnull()) & (transcript['reward'].notnull()),'event'].value_counts())
print('\n')
print('Events where an offer is viewed')
print(transcript.loc[(transcript['offer_id'].notnull()) & (transcript['reward'].isnull()),'event'].value_counts())
print('\n')
print('Events where transaction occured')
print(transcript.loc[(transcript['amount'].notnull()) ,'event'].value_counts())

Events where an offer is completed
offer completed    33579
Name: event, dtype: int64


Events where an offer is viewed
offer received    76277
offer viewed      57725
Name: event, dtype: int64


Events where transaction occured
transaction    138953
Name: event, dtype: int64

### D. Merging all the datasets together

Joining Transcript and portfolio

In [ ]:
# Join transcript with portfolio to get offer type
# use only key from transcript dataframe and preserve key order.
total = transcript.merge(portfolio, how='left', on='offer_id')
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 306534 entries, 0 to 306533
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   cust_id            306534 non-null  object
 1   event              306534 non-null  object
 2   hours_till_action  306534 non-null  int64
 3   amount             138953 non-null  float64
 4   reward_x           33579 non-null   float64
 5   offer_id           167581 non-null  object
 6   reward_y           167581 non-null  float64
 7   difficulty         167581 non-null  float64
 8   offer_type         167581 non-null  object
 9   email              167581 non-null  float64
 10  mobile             167581 non-null  float64
 11  social             167581 non-null  float64
 12  web                167581 non-null  float64
 13  duration           167581 non-null  float64
dtypes: float64(9), int64(1), object(4)
memory usage: 35.1+ MB

Joining Transcript and profile

In [ ]:
total = total.merge(profile,how='left',on='cust_id')
total.rename(columns={'reward_x':'reward_received', 'reward_y':'reward_defined'},inplace=True)
total.sample(10)

                                 cust_id  ... days_as_member
48043   5205c76a56b248a1ac86ed72090a29a0  ...         1193.0
232420  07adfad3f0c54e738d60fd5a51285486  ...          878.0
402     6878e89f853c4691b765ae71386dbe09  ...            NaN
286222  d7ed79bbb5c94f689098728c0ed047ab  ...         1251.0
304104  2e6aab1dfef6443aa00ab9567c72e4b5  ...         2590.0
146328  cfa607dcb90541e2b9a5c34a810fed05  ...         2254.0
114782  27d73703045d4f63b2ce5aa79f3e9596  ...            NaN
8360    01873cc8de734961949af7c04b2e9872  ...         1039.0
23828   7c0407a5b3bb4ea39bf1291e59682da5  ...         1745.0
132294  759ec3a510e84d9598cf238f719dbda5  ...         1551.0

[10 rows x 19 columns]

In [ ]:
total.shape

(306534, 19)

Removing duplicates from transcript data

In [ ]:
dup = total[total.duplicated()]
dup

                                 cust_id  ... days_as_member
66123   3dde94fa581145cb9f206624f1a94d5a  ...         1108.0
66783   e9fb6ed2cecb4980ba98c86abc9c91e3  ...         2046.0
67614   a7dc060f6fc94ca7bf71fbb188187dca  ...         1394.0
68562   30478a4c1e884a63a822aa87b833ed7a  ...         1083.0
69218   84fb57a7fe8045a8bf6236738ee73a0f  ...         1260.0
...                                  ...  ...            ...
297625  6ba2450a438540999e633a5d99c7c7a0  ...         2133.0
299471  f39fe7ea4e5946378e6d224504b77797  ...         1207.0
304756  0785f1fce0b04ba08e01c7d2ebab4917  ...         1199.0
305551  b7e216b6472b46648272c29a52a86702  ...          872.0
306456  f3e801caeafe4899b3b989b586e74ac7  ...         1248.0

[397 rows x 19 columns]

In [ ]:
total_dist = total.drop_duplicates()
total_dist.shape

(306137, 19)

In [ ]:
total_dist.sample(10)

                                 cust_id  ... days_as_member
185665  c658ac6c1b2142c4b2ad19cd26fdd354  ...         1193.0
225192  ae27549c1fcc4407a7d5d270928ff0ab  ...          895.0
219199  5e44bc50a2b84b0a89d7246f5a85617e  ...          857.0
28373   b6471ab102724837b8e65d46fc5b8184  ...         1938.0
264617  a58629a6827f48a2a5d3127db9bee811  ...            NaN
105428  6577d9555cfe49359566c3271289b314  ...         1109.0
21860   2b50d8e66de14044ad46ca57417faadf  ...          922.0
156543  1473097b38ef4af2baa785f83d10b95a  ...         1113.0
26337   30a5ebaf192842c3a31b8fbb90529ac2  ...         1027.0
119575  e5476f13ac174d3ab883a26f738d3cdd  ...         1097.0

[10 rows x 19 columns]

In [ ]:
total_dist.groupby(['event','offer_type'])['offer_type'].count()

event            offer_type
offer completed  bogo             15501
                 discount         17681
offer received   bogo             30499
                 discount         30543
                 informational    15235
offer viewed     bogo             25449
                 discount         21445
                 informational    10831
Name: offer_type, dtype: int64

A customer's entire history of events

In [ ]:
# customers who completed their offer
total_dist.loc[total['event']=='offer completed', 'cust_id'].sample(10)

301563    d9e5e0c806da46268f0a1905c6e212c2
77424     2d5ba4affbf143bfa45deb4b6418eb65
128109    dd2f15d3224349b3a54cbb4a91e89e0c
298420    e4087b3f387b47e38d58e920f779056b
127586    cc3ca7632fda478cb573c06ac9f445aa
176011    19b675ce8cea454d8b849fbff3c0ff75
141705    162e7d9c644b438ea4606e337df0d3d1
131315    c1b48c3da509479ba0df92dd90803fdb
75788     bb8f4c201203433cb610477526658b13
24901     eaeffe7dfa5c475694239b9075ffc943
Name: cust_id, dtype: object

In [ ]:
# check one person's history
# pd.set_option("max_rows", None)
total_dist.loc[total.cust_id =='ebb7a9a6b45f4ba7b7600c651373ac4e', : ].sort_index().head(50)

                                 cust_id  ... days_as_member
60081   ebb7a9a6b45f4ba7b7600c651373ac4e  ...         1665.0
80558   ebb7a9a6b45f4ba7b7600c651373ac4e  ...         1665.0
82492   ebb7a9a6b45f4ba7b7600c651373ac4e  ...         1665.0
82493   ebb7a9a6b45f4ba7b7600c651373ac4e  ...         1665.0
89836   ebb7a9a6b45f4ba7b7600c651373ac4e  ...         1665.0
117731  ebb7a9a6b45f4ba7b7600c651373ac4e  ...         1665.0
125548  ebb7a9a6b45f4ba7b7600c651373ac4e  ...         1665.0
134077  ebb7a9a6b45f4ba7b7600c651373ac4e  ...         1665.0
134078  ebb7a9a6b45f4ba7b7600c651373ac4e  ...         1665.0
136465  ebb7a9a6b45f4ba7b7600c651373ac4e  ...         1665.0
157534  ebb7a9a6b45f4ba7b7600c651373ac4e  ...         1665.0
165680  ebb7a9a6b45f4ba7b7600c651373ac4e  ...         1665.0
169596  ebb7a9a6b45f4ba7b7600c651373ac4e  ...         1665.0
169597  ebb7a9a6b45f4ba7b7600c651373ac4e  ...         1665.0
194187  ebb7a9a6b45f4ba7b7600c651373ac4e  ...         1665.0
208440  ebb7a9a6b45f4ba7b7600c651373ac4e  ...         1665.0
216561  ebb7a9a6b45f4ba7b7600c651373ac4e  ...         1665.0
234137  ebb7a9a6b45f4ba7b7600c651373ac4e  ...         1665.0
234138  ebb7a9a6b45f4ba7b7600c651373ac4e  ...         1665.0
240418  ebb7a9a6b45f4ba7b7600c651373ac4e  ...         1665.0
251995  ebb7a9a6b45f4ba7b7600c651373ac4e  ...         1665.0
264006  ebb7a9a6b45f4ba7b7600c651373ac4e  ...         1665.0
264007  ebb7a9a6b45f4ba7b7600c651373ac4e  ...         1665.0
264008  ebb7a9a6b45f4ba7b7600c651373ac4e  ...         1665.0
270500  ebb7a9a6b45f4ba7b7600c651373ac4e  ...         1665.0
290710  ebb7a9a6b45f4ba7b7600c651373ac4e  ...         1665.0

[26 rows x 19 columns]

## Feature Engineering

These are the features we could consider for the machine learning models.

1. gender 
2. age 
3. income 
4. days_as_member 
5. Total offer completed 
6. Total offer received 
7. Total offer viewed 
8. Total transaction 
9. offer completed_via_email 
10. offer completed_via_social 
11. offer completed_via_mobile 
12. offer completed_via_web 
13. offer completed bogo count 
14. offer completed discount count 
15. offer received_via_email 
16. offer received_via_social 
17. offer received_via_mobile 
18. offer received_via_web 
19. offer received bogo count 
20. offer received discount count 
21. offer received informational count 
22. offer viewed_via_email 
23. offer viewed_via_social 
24. offer viewed_via_mobile 
25. offer viewed_via_web 
26. offer viewed bogo count 
27. offer viewed discount count 
28. offer viewed informational count 
29. Total transaction amount 
30. avg_difficulty 
31. avg_duration 
32. total_reward_received 
33. total_reward_defined 
34. total_view_ratio 
35. total_completion_ratio 
36. avg_transaction_amt 
37. transactions_per_membership_days

In [ ]:
user_offer_relation = total_dist[['cust_id','offer_id']]
user_offer_relation

                                 cust_id                          offer_id
0       78afa995795e4d85b5d9ceeca43f5fef  9b98b8c7a33c4b65b9aebfe6a799e6d9
1       a03223e636434f42ac4c3df47e8bac43  0b1e1539f2cc45b7b9fa7c272da2e1d7
2       e2127556f4f64592b11af22de27a7932  2906b810c7d4411798c6938adc9daaa5
3       8ec6ce2a7e7949b1bf142def7d0e0586  fafdcd668e3743c1bb461111dcafc2a4
4       68617ca6246f4fbc85e91a2a49552598  4d5c57ea9a6940dd891ad53e9dbe8da0
...                                  ...                               ...
306529  b3a1272bc9904337b331bf348c3e8c17                               NaN
306530  68213b08d99a4ae1b0dcb72aebd9aa35                               NaN
306531  a00058cf10334a308c68e7631c529907                               NaN
306532  76ddbd6576844afe811f1a3c0fbb5bec                               NaN
306533  c02b10e8752c4d8e9b73f918558531f7                               NaN

[306137 rows x 2 columns]

In [ ]:
# Distict pairs of cust_id and offer_id
combinations = user_offer_relation.drop_duplicates()
combinations

                                 cust_id                          offer_id
0       78afa995795e4d85b5d9ceeca43f5fef  9b98b8c7a33c4b65b9aebfe6a799e6d9
1       a03223e636434f42ac4c3df47e8bac43  0b1e1539f2cc45b7b9fa7c272da2e1d7
2       e2127556f4f64592b11af22de27a7932  2906b810c7d4411798c6938adc9daaa5
3       8ec6ce2a7e7949b1bf142def7d0e0586  fafdcd668e3743c1bb461111dcafc2a4
4       68617ca6246f4fbc85e91a2a49552598  4d5c57ea9a6940dd891ad53e9dbe8da0
...                                  ...                               ...
306116  542c41f5afc049e7ae7d4721ace9d286                               NaN
306203  448dabde725040978b8a247a20bac126                               NaN
306259  7718656997f3453db0f5aeca9cd35240                               NaN
306278  54463e5d95124b7fb3133fc1eae71952                               NaN
306474  0c027f5f34dd4b9eba0a25785c611273                               NaN

[79866 rows x 2 columns]

In [ ]:
total_dist['count'] = 1
total_dist.sample(10)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                 cust_id  ... count
277922  d819428f44234b24a1851503756bc537  ...     1
146468  1476bfc85b584e30a79790be39f7929f  ...     1
10748   a36a8550a93e4d04ae93e5e6cca1564d  ...     1
237069  9e71d772ceed40408f7a26dea47cda37  ...     1
147804  2ba1d65405594702af723081531011ef  ...     1
138876  0bcecfedf7e448b08e5ed4c00f47217d  ...     1
290537  b75b00a50cfa4059aef0851e81904a24  ...     1
262072  570f7cc3a63249d9b295d5fb8a7c1d73  ...     1
64412   c19daa02b8294bc58af617231fe6d49b  ...     1
261176  edbb23d321174301a15049a09df4072b  ...     1

[10 rows x 20 columns]

Total counts for all events

In [ ]:
count_of_events = pd.pivot_table(total_dist, values='count', index = 'cust_id', columns='event', aggfunc=np.sum)
count_of_events.rename(columns=lambda x: "Total "+x, inplace=True)
count_of_events

event                             Total offer completed  ...  Total transaction
cust_id                                                  ...
0009655768c64bdeb2e877511632db8f                    3.0  ...                8.0
00116118485d4dfda04fdbaba9a87b5c                    NaN  ...                3.0
0011e0d4e6b944f998e987f904e8c1e5                    3.0  ...                5.0
0020c2b971eb4e9188eac86d93036a77                    3.0  ...                8.0
0020ccbbb6d84e358d3414a3ff76cffd                    3.0  ...               12.0
...                                                 ...  ...                ...
fff3ba4757bd42088c044ca26d73817a                    3.0  ...               11.0
fff7576017104bcc8677a8d63322b5e1                    3.0  ...                6.0
fff8957ea8b240a6b5e634b6ee8eafcf                    NaN  ...                5.0
fffad4f4828548d1b5583907f2e9906b                    3.0  ...               12.0
ffff82501cea40309d5fdd7edcca4a07                    6.0  ...               15.0

[17000 rows x 4 columns]

Merging profile with 'counts of events'

In [ ]:
profile_features = profile
profile_features = profile_features.merge(count_of_events,how='left',on='cust_id')
profile_features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14825 entries, 0 to 14824
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gender                 14825 non-null  object
 1   age                    14825 non-null  int64
 2   cust_id                14825 non-null  object
 3   became_member_on       14825 non-null  datetime64[ns]
 4   income                 14825 non-null  float64
 5   days_as_member         14825 non-null  int64
 6   Total offer completed  11986 non-null  float64
 7   Total offer received   14820 non-null  float64
 8   Total offer viewed     14675 non-null  float64
 9   Total transaction      14492 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(2), object(2)
memory usage: 1.2+ MB

Individual event counts based on offer type and counts of their modes of delivery

In [ ]:
event_group = total_dist.groupby('event')
offer_counts = dict()

for event, group in event_group:
    if event != 'transaction':        
        offer_counts[event] = pd.pivot_table(group, values='count', index='cust_id', columns='offer_type', aggfunc=np.sum)
        offer_counts[event].rename(columns=lambda x: event+" "+x+" count", inplace=True)

        count_of_delivery_by_event = group[['cust_id', 'email', 'social', 'mobile', 'web']]
        count_of_delivery_by_event = count_of_delivery_by_event.groupby(['cust_id']).sum()
        count_of_delivery_by_event.rename(columns=lambda x: event+"_via_"+x, inplace=True)

        profile_features = profile_features.merge(count_of_delivery_by_event,how='left',on='cust_id')
    else:
        offer_counts[event] = group.groupby(['cust_id'])['amount'].agg('sum').to_frame()
        offer_counts[event].rename(columns=lambda x: "Total transaction "+x, inplace=True)
        
    profile_features = profile_features.merge(offer_counts[event],how='left',on='cust_id')

profile_features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14825 entries, 0 to 14824
Data columns (total 31 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   gender                              14825 non-null  object
 1   age                                 14825 non-null  int64
 2   cust_id                             14825 non-null  object
 3   became_member_on                    14825 non-null  datetime64[ns]
 4   income                              14825 non-null  float64
 5   days_as_member                      14825 non-null  int64
 6   Total offer completed               11986 non-null  float64
 7   Total offer received                14820 non-null  float64
 8   Total offer viewed                  14675 non-null  float64
 9   Total transaction                   14492 non-null  float64
 10  offer completed_via_email           11986 non-null  float64
 11  offer completed_via_social          11986 non-null  float64
 12  offer completed_via_mobile          11986 non-null  float64
 13  offer completed_via_web             11986 non-null  float64
 14  offer completed bogo count          8914 non-null   float64
 15  offer completed discount count      9718 non-null   float64
 16  offer received_via_email            14820 non-null  float64
 17  offer received_via_social           14820 non-null  float64
 18  offer received_via_mobile           14820 non-null  float64
 19  offer received_via_web              14820 non-null  float64
 20  offer received bogo count           13082 non-null  float64
 21  offer received discount count       13042 non-null  float64
 22  offer received informational count  9200 non-null   float64
 23  offer viewed_via_email              14675 non-null  float64
 24  offer viewed_via_social             14675 non-null  float64
 25  offer viewed_via_mobile             14675 non-null  float64
 26  offer viewed_via_web                14675 non-null  float64
 27  offer viewed bogo count             12194 non-null  float64
 28  offer viewed discount count         10991 non-null  float64
 29  offer viewed informational count    7151 non-null   float64
 30  Total transaction amount            14492 non-null  float64
dtypes: datetime64[ns](1), float64(26), int64(2), object(2)
memory usage: 3.6+ MB

In [ ]:
profile_features.fillna(0, inplace=True)    
print(profile_features.shape)
profile_features.sample(10)

(14825, 31)

      gender  age  ... offer viewed informational count Total transaction amount
12636      F   74  ...                              1.0                    22.52
3319       M   46  ...                              0.0                     6.87
2533       M   55  ...                              1.0                   185.02
1227       F   55  ...                              1.0                  1016.93
10002      M   59  ...                              2.0                    49.01
9662       F   66  ...                              1.0                     0.00
9307       M   62  ...                              1.0                    50.45
1156       M   62  ...                              0.0                   117.49
12195      M   37  ...                              1.0                    98.01
9560       M   31  ...                              1.0                   299.09

[10 rows x 31 columns]


Average difficulty score and duration

In [ ]:
avg_difficulty_duration = total_dist[['cust_id', 'difficulty', 'duration']]
avg_difficulty_duration = avg_difficulty_duration.groupby(['cust_id']).mean()
avg_difficulty_duration.rename(columns=lambda x: "avg_"+x, inplace=True)
avg_difficulty_duration.sample(10)

                                  avg_difficulty  avg_duration
cust_id
b193da492dcb4b029ebade62a96eefdc        9.444444    184.000000
c811024989454214bffab4c58bcf56a9       10.000000    176.000000
d209eab2e56f4430a45b0b08d2f3d72a       12.142857    174.857143
bd40b5d8818e40bba31a9c1195255017        9.583333    170.000000
3622ada8c6394b32a8d7ba31c737e926        7.307692    173.538462
5b4c24de054a48e8bca2015cc6d583d2        7.500000    180.000000
e311b9067f484ff8a11bc16c6c234465        8.636364    154.909091
1c28b1041b4a4b06bfb1d2bfd4ef075b        3.500000    132.000000
04e34b1c5fe64fbcb76bfe47ebbbf015        5.333333    140.800000
4757f0969cb440e0883c7dda26151cb2        6.000000    144.000000

In [ ]:
profile_features = profile_features.merge(avg_difficulty_duration,how='left',on='cust_id')
print(profile_features.shape)
profile_features.sample(5)

(14825, 33)

      gender  age  ... avg_difficulty avg_duration
4599       M   80  ...       8.714286   173.142857
6376       F   63  ...       8.875000   162.000000
12143      F   90  ...       6.545455   154.909091
2841       M   50  ...      12.222222   197.333333
13159      M   83  ...      11.111111   200.000000

[5 rows x 33 columns]

Total rewards received

In [ ]:
rewards = total_dist[['cust_id', 'reward_received']]
sum_rewards = rewards.groupby(['cust_id']).sum()
sum_rewards.rename(columns=lambda x: "total_"+x, inplace=True)
sum_rewards.sample(10)

                                  total_reward_received
cust_id
8c03c9716ffa4825b57af6b5cfee0f82                    0.0
284650de773c461da7dd5c547e5ac590                   18.0
28ddc2fd0f9344008828d2fd1d846e24                    2.0
2c0c244b5b0c4b2b96e9cfaaa82eb499                   13.0
261e8e8518ef4383b1b1f3243a29c337                   13.0
fc73a0a1bd924d2998c7ee08c6cc0789                    0.0
cb47e296ba87499b98445d2d1b8b5e52                    0.0
2f10c8022a9342ce8303cca33023c303                    5.0
9c10540f4b6842deb88e827d8d1260da                    0.0
c259c5ceb06440219fa381a1fbf4c337                    8.0

In [ ]:
profile_features = profile_features.merge(sum_rewards,how='left',on='cust_id')
profile_features.sample(5)

     gender  age  ... avg_duration total_reward_received
3124      M   90  ...   135.000000                   0.0
9617      M   54  ...   133.714286                   0.0
605       M   48  ...   164.000000                   2.0
8766      M   69  ...   150.400000                  14.0
8587      M   36  ...   171.000000                   2.0

[5 rows x 34 columns]

Total reward defined

In [ ]:
offer_received_data = total_dist[total_dist['event'] == 'offer received']
offer_received_data.sample(5)

                                 cust_id           event  ...  days_as_member  count
249669  95bfff94b9b44ba98bb6b69bc3efc3c7  offer received  ...          1134.0      1
156597  c621318761c34015b1189d9b8336529b  offer received  ...          1117.0      1
120079  058406afd91541fbae0060827c0ac156  offer received  ...           874.0      1
162449  7425c781fb554b79a7a06095c1f813a8  offer received  ...          1217.0      1
155835  12c783f75d5847c08e1a0e582a6b735a  offer received  ...          1868.0      1

[5 rows x 20 columns]

In [ ]:
rewards = offer_received_data[['cust_id', 'reward_defined']]
sum_rewards = rewards.groupby(['cust_id']).sum()
sum_rewards.rename(columns=lambda x: "total_"+x, inplace=True)
sum_rewards.sample(10)

                                  total_reward_defined
cust_id
5a7af629a0244c35b98846d4fc8d4603                   6.0
6368c154e8014fa49bc178a60f453b04                  11.0
a6c6bc7bbbaa46f4a7c36d036cf537b2                  29.0
f011ba52208c4c5badede12c114b02e9                   9.0
6bb9186fb03e4d99a4c7f10ce849c65b                  22.0
9dc0a23131994ab08657bc748f425765                  34.0
eff43f470d36465b8aa4a12d79d25986                  12.0
7798d98a070845328d838312b65ba846                  32.0
6d5da41e6c85436782eafe2fedd00dad                  28.0
da9e7cdd4b0e4978b03f92d1245c8c60                   9.0

In [ ]:
profile_features = profile_features.merge(sum_rewards,how='left',on='cust_id')
print(profile_features.shape)
profile_features.sample(5)

(14825, 35)

      gender  age  ... total_reward_received total_reward_defined
9350       F   48  ...                  20.0                 25.0
9429       M   23  ...                   5.0                 25.0
14079      M   47  ...                   0.0                 10.0
9223       F   26  ...                   5.0                 40.0
11473      M   37  ...                  11.0                 11.0

[5 rows x 35 columns]

View and completion ratio

In [ ]:
profile_features['total_view_ratio'] = round(profile_features['Total offer viewed']/profile_features['Total offer received'], 2)
profile_features['total_completion_ratio'] = round(profile_features['Total offer completed']/profile_features['Total offer received'], 3) 
profile_features.sample(5)

      gender  age  ... total_view_ratio total_completion_ratio
11140      M   62  ...             0.50                   0.25
13356      M   48  ...             0.80                   1.00
9720       F   63  ...             0.67                   0.00
8212       F   76  ...             1.00                   0.60
12182      M   64  ...             1.00                   0.80

[5 rows x 37 columns]

Avg_transaction_amt and transactions_per_membership_days

In [1]:
profile_features['avg_transaction_amt'] = round(profile_features['Total transaction amount']/profile_features['Total transaction'], 2)
profile_features['transactions_per_membership_days'] = profile_features['Total transaction']/profile_features['days_as_member']


profile_features['weeks_as_member'] = (pd.to_datetime('20180801', format='%Y%m%d') - pd.to_datetime(profile_features['became_member_on'], format='%Y%m%d'))/np.timedelta64(1, 'W')
profile_features['avg transaction count by membership time'] = profile_features['Total transaction']/profile_features['weeks_as_member']

profile_features.fillna(0, inplace=True)
print(profile_features.shape)
profile_features.sample(5)

NameError: ignored

## Labelling Customer Type (Taget)

The definition of being an active or passive customer

: Customer who has more than '80% of total view ratio' and '20% of total completion ratio' will be considered as an 'active' customer.

In [ ]:
len(profile_features[profile_features['Total offer viewed'] < profile_features['Total offer completed']])

1932

In [ ]:
# first method of labelling
profile_features['customer_type'] = "passive"
profile_features.loc[(profile_features['total_view_ratio'] >= 0.8) & (profile_features['total_completion_ratio'] >= 0.2), 'customer_type'] = "active"

In [ ]:
# second method of labelling
profile_features['customer type'] = 'passive'
profile_features.loc[profile_features['avg transaction count by membership time'] >= 0.5, 'customer type'] = "active"

In [ ]:
profile_features.sample(10)

      gender  age  ... customer_type customer type
14803      F   44  ...        active       passive
4525       M   50  ...       passive       passive
1955       M   50  ...        active       passive
1600       M   64  ...       passive       passive
11422      M   66  ...       passive       passive
12245      F   95  ...        active       passive
14307      M   48  ...        active       passive
5382       F   58  ...        active       passive
12745      M   34  ...       passive       passive
1648       F   30  ...        active        active

[10 rows x 43 columns]

In [ ]:
profile_features.value_counts('customer_type')

customer_type
passive    8052
active     6773
dtype: int64

In [ ]:
profile_features.value_counts('customer type')

customer type
passive    13607
active      1218
dtype: int64