In [1]:
import os
import pandas as pd

In [2]:
transcriptdf = pd.read_json(r'../data/transcript.json', lines=True)
portfoliodf = pd.read_json(r'../data/portfolio.json', lines=True)
profiledf = pd.read_json(r'../data/profile.json', lines=True)

In [3]:
profiledf = profiledf[(profiledf['gender'].notnull()) | (profiledf['age'] != 118) | (profiledf['income'].notnull())]
profiledf.rename(columns={'id': 'person'}, inplace=True)

In [4]:
profiledf

,gender,age,person,became_member_on,income
1,F,55,0610b486422d4921ae7d2bf64640c50b,20170715,112000.0
3,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0
5,M,68,e2127556f4f64592b11af22de27a7932,20180426,70000.0
8,M,65,389bc3fa690240e798340f5a15918d5c,20180209,53000.0
12,M,58,2eeac8d8feae4a8cad5a6af0499a211d,20171111,51000.0
...,...,...,...,...,...
16995,F,45,6d5f3a774f3d4714ab0c092238f3a1d7,20180604,54000.0
16996,M,61,2cb4f97358b841b9a9773a7aa05a9d77,20180713,72000.0
16997,M,49,01d26f638c274aa0b965d24cefe3183f,20170126,73000.0
16998,F,83,9dc1421481194dcd9400aec7c9ae6366,20160307,50000.0
16999,F,62,e4052622e5ba45a8b96b59aba68cf068,20170722,82000.0